<ion-header [translucent]="true"  class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h1>
        Blank
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let c of cList">
      <ion-col>
        <ion-item color="light" lines="none">
          <ion-label position="stacked">aisle</ion-label>
          <ion-input [(ngModel)]="c.aisle"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item color="light" lines="none">
          <ion-label position="stacked">start</ion-label>
          <ion-input type="time"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item color="light" lines="none">
          <ion-label position="stacked">stop</ion-label>
          <ion-input type="time"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item color="light" lines="none">
          <ion-label position="stacked">case count</ion-label>
          <ion-input type="number" inputmode="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>