<ion-header [translucent]="true"  class="ion-no-border">
  <!-- <ion-toolbar> -->
    <ion-title (click)="refresh();">
      <h1>
        <ion-img style="height: 32px; display: inline-flex;" src="assets/icon/favicon.png"></ion-img>
        WF Case Counts
      </h1>
    </ion-title>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let c of cList">
      <ion-col size="12">
        <ion-item color="light" lines="none">
          <ion-label position="stacked">aisle</ion-label>
          <ion-select [(ngModel)]="c.aisle" [placeholder]="this.as[0]" okText="Okay" cancelText="Dismiss">
            <ion-select-option *ngFor="let a of this.as" [value]="a">{{a}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4.5" (click)="c.start = setTime(c.start)">
        <ion-item color="light" lines="none">
          <ion-label position="stacked">start</ion-label>
          <ion-input [(ngModel)]="c.start" type="time" [disabled]="c.start==null||undefined"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4.5" (click)="c.stop = setTime(c.stop)">
        <ion-item color="light" lines="none">
          <ion-label position="stacked">stop</ion-label>
          <ion-input [(ngModel)]="c.stop" type="time" [disabled]="c.stop==null||undefined"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item color="light" lines="none">
          <ion-label position="stacked">case count</ion-label>
          <ion-input [(ngModel)]="c.count" type="number" inputmode="number" placeholder="0"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4.5">
        <ion-item color="none" lines="none">
          <ion-label position="stacked">elapsed time</ion-label>
          <ion-text>
            {{et(c)}} (min)
          </ion-text>
        </ion-item>
      </ion-col>
      <ion-col size="4.5">
        <ion-item color="none" lines="none">
          <ion-label position="stacked">cases/h</ion-label>
          <ion-text>
            {{cph(c)}}/h
          </ion-text>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item color="none" lines="none">
          <ion-label position="stacked">action</ion-label>
          <ion-button fill="clear">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4.5">
        <ion-item color="none" lines="none">
          <ion-label position="stacked">shift et</ion-label>
          <ion-text>{{set()}} (min)</ion-text>
        </ion-item>
      </ion-col>
      <ion-col size="4.5">
        <ion-item color="none" lines="none">
          <ion-label position="stacked">shift cph</ion-label>
          <ion-text>{{scph()}}/h</ion-text>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item color="none" lines="none">
          <ion-label></ion-label>
          <ion-text></ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="height: 60px;"></div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="add()" color="new">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>