#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-item {
  border-radius: 5px 5px 5px 5px;
  --min-height: 58px;
  // --highlight-height: -5;
  // --color: var(--ion-color-light);
}

ion-grid {
  padding: 0px;
}

ion-row {
  padding: 10px 5px;
  border-bottom: 5px solid var(--ion-color-light);
}

ion-col > ion-item > ion-text {
  margin-bottom: 5px;
}

.display {
  padding: 15px 5px;
  background: var(--ion-color-primary);
  ion-label, ion-text {
    color: white;
    font-weight: 700;
  }
  span {
    font-size: xx-large;
  }
}